<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>



</head>

<body>

	<th:block th:fragment="header">

		<div th:fragment="header-css">
			<!-- this is header-css -->
			<link rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

			<link rel="stylesheet" th:href="@{/css/mycss.css}"
				href="css/main.css" />



			<!-- 				for registration form -->
			<link
				href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">


		</div>




		<!--     <nav class="navbar navbar-inverse navbar-static-top"> -->
		<!--         <div class="container"> -->
		<!--             <div class="navbar-header"> -->
		<!--                 <a class="navbar-brand" th:href="@{/}"> -->
		<!--                     <img th:src="@{/img/logo.png}" alt="memorynotfound logo"/> -->
		<!--                 </a> -->
		<!--             </div> -->
		<!--             <div id="navbar" class="collapse navbar-collapse"> -->
		<!--                 <ul class="nav navbar-nav"> -->
		<!--                     <li class="active"> -->
		<!--                         <a th:href="@{/}">Home</a> -->
		<!--                     </li> -->
		<!--                 </ul> -->
		<!--             </div> -->
		<!--         </div> -->
		<!--     </nav> -->

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#" th:href="@{/index}">WebSiteName</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Page 1</a></li>
					<li><a href="#">Page 2</a></li>
				</ul>


				<ul class="nav navbar-nav navbar-right"
					>


					<li sec:authorize="!(isAuthenticated())"><a href="#" th:href="@{/signup}"><span
							class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li sec:authorize="!(isAuthenticated())"><a href="#" th:href="@{/login}"><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>



					<li sec:authorize="isAuthenticated()" class="dropdown"><a href="javascript:void(0)"
						class="btn btn-default dropdown-toggle" id="dropDownMenu"
						data-toggle="dropdown"> <span sec:authorize="hasRole('ROLE_ADMIN')"></span><span sec:authentication="name"></span><span class="caret"></span>
					</a>

						<ul class="dropdown-menu">
						
							<li><a  sec:authorize="hasAuthority('SUPER_USER')" th:href="@{/adminstrator/index}">HOME</a></li>
						<li><a  sec:authorize="hasAuthority('SUPER_USER')" th:href="@{/adminstrator/showUsers}">All Users</a></li>
							<li><a  sec:authorize="hasAuthority('USER')" th:href="@{/user/index}">HOME</a></li>
							<li class="divider" role="seperator"></li>
							<li><a th:href="@{/logout?message=success}">Logout</a></li>

						</ul></li>


				</ul>
			</div>
		</nav>

	</th:block>
</body>
</html>