<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Login</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div layout:fragment="content" th:remove="tag">

    <div class="container">
<h1 class="form-heading">login Form</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Login</h2>
   <p>Please enter your email and password</p>
   </div>
    <form id="Login" th:action="@{/login}" method="POST">

        <div class="form-group">


            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">

        </div>

        <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Password">

        </div>
        <div class="forgot">
        <a href="reset.html">Forgot password?</a>
</div>
        <button type="submit" class="btn btn-primary">Login</button><br><br><br>
         <a th:href="@{/signup}"  class="btn btn-lg btn-success">Sign Up</a>

    </form>
    </div>
 <p><a href="/" th:href="@{/}">Back to home page</a></p>
</div></div></div>
   
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>